article{
  padding: .5rem;
}
.float-right{
  float: right;
  margin-right: 0;
}
article img{
  margin: .5rem;
  padding: .3rem;
  border: 1px solid gray;
}
.float-left{
  float: left;
}
@media (max-width: 900px ) {
  article img{
    width: 300px;
  }
}
@media (max-width: 750px ) {
  article img{
    width: 250px;
  }
}
@media (max-width: 600px ) {
  article img{
    width: 100%;
  }
}
@media (max-width: 900px ) {
  article p{
    font-size: 1.2rem;
  }
}
@media (max-width: 750px ) {
  article p{
    font-size: 1.1rem;
  }
}
@media (max-width: 600px ) {
  article p{
    font-size: 1rem;
  }
}