body{
  margin: 0;
  background-color: tomato;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: .5rem;
}
[class^="col"]{
  padding: 0 .5rem;
}
@media  (max-width:700px) {
  body {
    background-color: blue;
  }
}
@media (min-width: 900px) {
  body {
    background-color: green;
  }
}
@media print {
  h1{
    text-decoration: underline;
  }
}
h1{
  color: red;
}
@media (orientation: portrait) {
  h1{
    color: blue;
  }
}