.grid-example {
  display: flex;
  flex-wrap: wrap;
}
/*.grid-example > div{
  flex: 25%;
  padding: .5rem;
}*/
body {
  margin: 0 auto;
  background-color: tomato;
}
* {
  box-sizing: border-box;
}
/*@media  (min-width: 900px) {
  body {
    background-color: green;
  }
}
@media (max-width:700px) {
  body {
    background-color: blue;
  }
}*/

/*@media (max-width: 900px) {
  .grid-example > div{
    flex: 0 0 33%;
  }
}
@media (max-width: 750px) {
  .grid-example > div{
    flex: 0 0 50%;
  }
}
@media (max-width: 600px) {
  .grid-example > div{
    flex: 0 0 100%;
  }
}*/


/*@media screen {
  h1 {
    text-decoration: underline;
  }
}
h1 {
  color: rgb(157, 255, 0);
}
@media (orientation: portrait) {
  h1 {
    color: blue;
  }
}*/
.grid-example > div {
  flex: 0 0 100%;
  padding: .5rem;
}
@media (min-width: 600px) {
  .grid-example > div {
    flex: 0 0 50%;

  }
}
@media (min-width: 750px) {
  .grid-example > div {
    flex: 0 0 33.3%;
  }
}
@media (min-width: 900px) {
  .grid-example > div {
    flex: 0 0 25%;
  }
}
img {
  height: 100px;
  object-fit: cover;
}
/*стиль дизайна два основеых*/
.responsive {
  width: 100%;
}
.adaptive {
  width: 250px;
}
@media (max-width: 900px) {
  
}