article{
  padding: .5rem;
}
.float-right{
  float: right;
}
article img{
  margin: .5rem;
  padding: .3rem;
  border: 1px solid lightgray;
}
.float-left{
  float: left;
}
@media (max-width: ) {
  img{
    border: ;
  }
}